body {
  color: #404040;
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  /*background-color: #4CAF50;*/
}
.main-container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.inner-container {
  display: table-cell;
  vertical-align: middle;
}
.logo-img {
  display: block;
  margin: 0 auto;
  width: 96px;
}
.mdl-card {
  display: block;
  margin: 25px auto;
  min-height: 0;
}
.mdl-card__supporting-text {
  font-size: 16px;
}
.mdl-button.mdl-button--colored {
  color: #159CEB;
  background-color: #FFF;
}

/*font white color override*/

.font-white {
  color: #fff;
}

/*other colors on background*/

.green {
  background-color: #4CAF50;
}
.red {
  background-color: #F44336;
}

/*authentication state icon*/

.auth_state {
  position: absolute;
  right: 24px;
  top: 10px;
  border-radius: 50%;
  font-size: 24px;
  border: 2px #FFF solid;
  padding: 5px;
}
