<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>GoToMeeting</display-name>
  <description>
        This is a simple web application which demonstrates how to build bots in webapps.
    </description>
  <listener>
    <listener-class>com.teamchat.client.utils.TeamchatContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>bot-email</param-name>
    <param-value>bot-gotomeeting@teamchatbot.com</param-value>
  </context-param>
  <context-param>
    <param-name>bot-password</param-name>
    <param-value>password@123</param-value>
  </context-param>
  <context-param>
    <param-name>bot-class</param-name>
    <param-value>com.teamchat.integrations.gotomeeting.GoToMeetingMain</param-value>
  </context-param>
  <context-param>
    <param-name>db-host</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>db-name</param-name>
    <param-value>Bot</param-value>
  </context-param>
  <context-param>
    <param-name>db-user</param-name>
    <param-value>tcinterns</param-value>
  </context-param>
  <context-param>
    <param-name>db-password</param-name>
    <param-value>PakyovBosh7</param-value>
  </context-param>
  <context-param>
    <param-name>threading</param-name>
    <param-value>SINGLE</param-value>
  </context-param>
  <context-param>
    <param-name>log-location</param-name>
    <param-value>./logs</param-value>
  </context-param>
  <context-param>
    <param-name>log-level</param-name>
    <param-value>ALL</param-value>
  </context-param>
  <context-param>
    <param-name>log-filename</param-name>
    <param-value>gotomeeting</param-value>
  </context-param>
  <servlet>
    <servlet-name>GetTeamChatAPIDemoServlet</servlet-name>
    <servlet-class>com.teamchat.client.demo.servlets.GetTeamChatAPIDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeamChatAPIDemoServlet</servlet-name>
    <url-pattern>/sendGreeting</url-pattern>
  </servlet-mapping>
</web-app>