<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Basecamp_bot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
		<listener-class>com.teamchat.client.utils.TeamchatContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>bot-email</param-name>
		<param-value>waynetech@webaroo.com</param-value>
	</context-param>
	<context-param>
		<param-name>bot-password</param-name>
		<param-value>rgkb4Wn</param-value>
	</context-param>
	<context-param>
		<param-name>bot-class</param-name>
		<param-value>com.teamchat.integrations.basecamp.Basecamp_Bot</param-value>
	</context-param>
	<context-param>
		<param-name>db-host</param-name>
		<param-value>localhost</param-value>
	</context-param>
	<context-param>
		<param-name>db-name</param-name>
		<param-value>Bot</param-value>
	</context-param>
	<context-param>
		<param-name>db-user</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>db-password</param-name>
		<param-value>pappupasshogaya</param-value>
	</context-param>
	<context-param>
   		<param-name>threading</param-name>
   		<param-value>SINGLE</param-value>
	</context-param>
</web-app>