body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
}

.post-sign-in {
  display: none;
}

.during-upload {
  display: none;
}

.post-upload {
  display: none;
}

#channel-name {
  font-size: 60px;
  margin-left: 10px;
}

label {
  display: block;
}

input[type="text"], textarea, progress {
  font-size: 0.75em;
  width: 15em;
  margin-bottom: 1em;
  padding: 0.5em;
  font-family: "Open Sans", sans-serif;
}

textarea {
  height: 7em;
}

.tablestyle {
    position:fixed;
    top: 50%;
    left: 50%;
    height:20em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -10em; /*set to a negative number 1/2 of your width*/
  /*  border: 1px solid #ccc; */
   /* background-color: #f3f3f3;*/
}


.rightimage {
    float: right;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
td { 
    padding: 5px;
}
table {
border-spacing:5px;
}
