#myReplyButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5f1f0;
	background-color:transparent;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #c6c9c9;
	display:inline-block;
	cursor:pointer;
	color:#12b8e6;
	font-family:Arial;
	font-size:16px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c6c9c9;
	position:absolute;
	top:500px;
	left:385px;
}

#myTotalButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5f1f0;
	background-color:transparent;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #c6c9c9;
	display:inline-block;
	cursor:pointer;
	color:#12b8e6;
	font-family:Arial;
	font-size:16px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c6c9c9;
	position:absolute;
	top:500px;
	left:500px;
}

#myCommentsButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5f1f0;
	background-color:transparent;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #c6c9c9;
	display:inline-block;
	cursor:pointer;
	color:#12b8e6;
	font-family:Arial;
	font-size:16px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c6c9c9;
	position:absolute;
	top:500px;
	left:850px;
}

#posted {
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:20px;
	text-decoration:none;
	position:absolute;
	top:250px;
	left:400px;
}

#date {
	display:inline-block;
	color:dimgray;
	font-family:Arial;
	font-size:20px;
	text-decoration:none;
	position:absolute;
	top:250px;
	left:505px;
}

#content {
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:18px;
	text-decoration:none;
	position:absolute;
	top:350px;
	left:400px;
	visibility:visible;
}

#content_html {
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:18px;
	text-decoration:none;
	position:absolute;
	top:400px;
	left:400px;
	visibility:hidden;
}

#done {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5f1f0;
	background-color:gainsboro;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid rgb(216,201,201);
	display:inline-block;
	cursor:pointer;
	color:#12b8e6;
	font-family:Arial;
	font-size:16px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c6c9c9;
	position:absolute;
	top:600px;
	left:625px;
	visibility:visible;
}

#replies {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5f1f0;
	background-color:gainsboro;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid rgb(216,201,201);
	display:inline-block;
	cursor:pointer;
	color:#12b8e6;
	font-family:Arial;
	font-size:16px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c6c9c9;
	position:absolute;
	top:550px;
	left:375px;
	display:none;
	
}

#comments {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5f1f0;
	background-color:gainsboro;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid rgb(216,201,201);
	display:inline-block;
	cursor:pointer;
	color:#12b8e6;
	font-family:Arial;
	font-size:16px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c6c9c9;
	position:absolute;
	top:550px;
	left:735px;
	display:none;
}

#con_type {
	display:inline-block;
	color:dimgray;
	font-family:Arial;
	font-size:20px;
	text-decoration:none;
	position:absolute;
	top:300px;
	left:400px;
}

#email_text {
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:18px;
	text-decoration:none;
	position:absolute;
	top:600px;
	left:450px;
	display:none;
}

#email_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5f1f0;
	background-color:gainsboro;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid rgb(216,201,201);
	display:inline-block;
	cursor:pointer;
	color:#12b8e6;
	font-family:Arial;
	font-size:16px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c6c9c9;
	position:absolute;
	top:598px;
	left:725px;
	display:none;
}

#success {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5f1f0;
	background-color:gainsboro;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid rgb(216,201,201);
	display:inline-block;
	cursor:pointer;
	color:#12b8e6;
	font-family:Arial;
	font-size:16px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c6c9c9;
	position:absolute;
	top:600px;
	left:550px;
	display:none;
}

