body
{
	margin:0px;
	padding:0px;
}

*
{
	margin:0px;
	padding:0px;
}

.clear
{
	clear:both;
}

.head
{
	background-image:url(images/headback.png);
	background-repeat:repeat-x;
	height:65px;
	width:100%;
}

.logo
{
	margin-left:15px;
	padding-top:12px;
	float:left;
	
}

.headtext
{
	float:left;
	margin-left:350px;
	margin-top:10px;
}

.headtext h1
{
	color:#159CEB;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
}

.headtext rr1
{
	
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
}

.sidebar
{
	width:277px;
	background-image:url(images/sidebarback.png);
	background-repeat:repeat-y;
	height:720px;
	margin-top:-6px;
	float:left;
}



.list
{
	padding-left:45px;
	padding-top:20px;
	}
	
	.list ul
{
	}
	
	
.list ul li
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:22px;
	color:#a09e9e;
	line-height:50px;
	
	}
	
.list ul li a
{
	text-decoration:none;
	color:#a09e9e;
}

.drophead
{
	padding-top:30px;
}

.drophead ul
{
}

.drophead ul li
{
	list-style:none;
	float:left;
	margin-left:150px;
}




