<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GDrive</display-name>
  <listener>
    <listener-class>com.teamchat.client.utils.TeamchatContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>bot-email</param-name>
    <param-value>gdrivebot.teamchat@rediff.com</param-value>
  </context-param>
  <context-param>
    <param-name>bot-password</param-name>
    <param-value>GDrive</param-value>
  </context-param>
  <context-param>
    <param-name>bot-class</param-name>
    <param-value>com.integration.teamchat.test.Test</param-value>
  </context-param>
  <context-param>
    <param-name>db-host</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>db-name</param-name>
    <param-value>Bot</param-value>
  </context-param>
  <context-param>
    <param-name>db-user</param-name>
    <param-value>tcinterns</param-value>
  </context-param>
  <context-param>
    <param-name>db-password</param-name>
    <param-value>PakyovBosh7</param-value>
  </context-param>
  <context-param>
    <param-name>threading</param-name>
    <param-value>SINGLE</param-value>
  </context-param>
</web-app>